<h3 class="pageTitle">Upcoming Events</h3>


<ul>
    {% if events|length == 0 %}
        No events at this time.
    {% endif %}

    {% for e in events %}
        <li class="event-item">
            <div class="event-date">{{ e.when|date('n/d g:ia') }}</div>
            <h4>{{ e.title }}</h4>
            <div class="event-details">
                {% if e.where !='' %}
                    @ <a target="_blank" href="http://maps.google.com/maps?q={{ e.where }}">{{ e.where }}</a>
                {% endif %}

                {% if e.description !='' %}
                    <a href="#" class="eventMore softScript" data-event-index="{{ loop.index }}">more...</a>
                    <div class="eventDescription {{ loop.index }}" style="display: none">{{ e.description }}</div>
                {% endif %}
            </div>
        </li>
    {% endfor %}
</ul>
